html{
  font-family: "Tahoma", Times, serif;
  background-color: #dd9966;
  color: #eee;
}


input{
  font-size: 1.3em;
}
input[type=number]{
  font-size: 1.5em;
  border-radius: 10px;
}

div.h1{
  font-size: 2em; 
}



#main{
  padding: 1em;
  border: black solid 2px;
  text-align: center;
  background-color: #3355cc;
}
